.content_dashboard{
    width: 60vw;
    min-height:70vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding:20px;
    margin: 50px;
}
.first_part,.second_part,.third_part, .fourth_part  {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.highlight-box {
    padding: 20px;
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 140px;
    flex-grow: 1;
    margin: 10px;
    text-align: center;
    font-family: 'Montserrat';
}
.highlight-box span {
    font-family: 'Montserrat';
    font-weight: 700;

}
h2{
    text-align: center;
    margin: 40px 0;
    font-family: 'Montserrat';
    
}



  