*{
    padding: 0;
    margin: 0;
}

/* navbar */
.navbar{
    border: 1px solid white;
    height: 8vh; 
    box-shadow: 0px 2px 5px -3px #b2b2b2;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
    z-index: 99;
    top:0;
    background-color: white;
    /* gap: 30px; */
}
.icone_navbar{
    /* position icones */
    margin-right: 40px;
}
/* accueil before login */
.before_login{
    padding-top: 10vh;
}
/* signup */
.login{
    width:100vw;
    height:100vh;
    background-color:  rgb(230, 225, 225);
    padding-top: 5vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.login_container{
    width: 80%;
    height: 80%;
    background-color:white;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.login_formulaire{
    border: 1px solid rgb(238, 236, 236);
    width: 80%;
    height: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.formulaire_login{
    display:flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 80px;
}
.inputOptions{
    display:flex;
    flex-direction: column;
}

/* Home */
.home_container{
    padding-top: 8vh;
    /* background-color: aqua; */
    height: 92vh;
}
.profil{
    /* border: 1Px solid lightgray; */
    text-align: center;
    padding: 20px 0;
}
.dashboard_container{
    display:flex; 
    width: 100%;
    /* revoir la taille ici */
   height: fit-content
}
.dashboard_menu{
    display: flex;
    flex-direction: column;
    gap:40px;
    width: 15%;
    border: 1px solid lightgray;
    /* background-color: aquamarine; */
    padding: 40px 20px;
}
.dashboard_content{
    border: 1Px solid lightgray;
    width: 85%;

    /* background-color: beige; */
   
}
.dashboard_content h3{
    border: 1Px solid lightgray;
    text-align: center;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}

/* custom table produits */
.Tableau{
    margin: 40px;
}
.rdt_Table{
  border: 1px solid red;
  position: relative;
  padding: 20px;

}
/* .table_produits{
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
} */

  /* .table_produits th, .table_produits td {
    padding: 10px;
    border: 1px solid lightgray;
  }
   */
  /* .table_produits th {
    background-color: #f2f2f2;
    text-align: start;
  } */
  /* photo */
  /* .colomn_photo{
    width: 50px;
  } */
  /* .table_produits img {
    width: 100%;
    max-height: 60px;
    object-fit: cover;
  } */
  /* actions */
  /* .colomn_actions{
    width: 50px;
  } */
  /* .actions{
    text-align: center;
  } */
  /* .icones_actions{
    font-size: 20px;
    margin: 0 5px;
  } */

  /* modale  */
  
  .modale_container{
    background-color: rgba(124, 184, 139, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    z-index: 99;
  }
  .modale{
    position:absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
     top:50%;
    left:50%;
    transform: translate(-50%, -50%); 
    width: 700px;
    height: 400px;
    background-color: rgb(167, 37, 37);
    border-radius: 25px;

 
  }
  .button_close{
    position: absolute;
    top:-10px;
    right:-10px;
    font-size: 30px;
  }
  .modale_content{
    /* height: 100%; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .test_modale{
    background-color: blue;
    padding:20px;
  }

  .page_produits_container{
    display:flex;
    flex-direction: column;
    align-content:center ;
    width: 100%;
  }
  .page_produits_container button{
    margin: 0 auto;
    
   
  }